<section>
  <div class="page-header">
    <h1>
      Order Book
      <a class="btn btn-primary pull-right" data-ui-sref="admin.orders.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="order in vm.orders" data-ui-sref="admin.orders.edit({orderId: order._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="order.created | date:'mediumDate'"></span>
        by
        <span ng-if="order.user" ng-bind="order.user.displayName"></span>
        <span ng-if="!order.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="order.orderRef"></h4>
      <p class="list-group-item-text" data-ng-bind="order.customer.displayName"></p>
      <p class="list-group-item-text" data-ng-bind="order.content"></p>
      <p class="list-group-item-text" data-ng-bind="order.poRef"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="orders.$resolved && !orders.length">
    No orders yet, why don't you <a data-ui-sref="admin.orders.create">create one</a>?
  </div>
</section>
