<section>
  <div class="page-header">
    <h1 ng-bind="vm.order.orderRef"></h1>
  </div>
  <p class="lead" ng-bind="vm.customer.displayName"></p>
  <p ng-bind="vm.order.content"></p>
  <p ng-bind="vm.order.poRef"></p>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.order.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.order.user" ng-bind="vm.order.user.displayName"></span>
      <span ng-if="!vm.order.user">Deleted User</span>
    </em>
  </small>
</section>
