<section>
  <div class="page-header">
    <h1>Contacts</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="contact in vm.contacts" ui-sref="contacts.view({ contactId: contact._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="contact.created | date:'mediumDate'"></span>
        by
        <span ng-if="contact.user" ng-bind="contact.user.displayName"></span>
        <span ng-if="!contact.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="contact.title"></h4>
      <p class="list-group-item-text" ng-bind="contact.content"></p>
    </a>
  </div>
</section>
